
<div class="a4-paper">
    <div class="left-column">
        <div class="section">
          <h2>Skills</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <!-- Dodaj więcej umiejętności tutaj -->
          </ul>
        </div>
      </div>
      <div class="right-column">
        <div class="section">
          <h2>Experience</h2>
          <p>Company: XYZ Corporation</p>
          <p>Position: Software Engineer</p>
        </div>
        <div class="section">
          <h2>Education  <button type="button" class="btn btn-secondary">
            <span class="glyphicon glyphicon-pencil"></span>
          </button></h2> 
          <p>University: ABC University</p>
          <p>Degree: Bachelor of Science</p>
        </div>
        <div class="section">
          <h2>Courses</h2>
          <p>Course: Web Development</p>
          <p>Duration: 6 months</p>
        </div>
      </div>
</div>
